/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20/09/2016, 12:36:06 PM
    Author     : BonaGanda
*/

body 
{
    font-family: lucida grande, tahoma, verdana, arial, sans-serif;
    color: white;
    background-image: url(../Images/Background/GBBackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body p
{
    font-size: 0.8em;
    line-height: 1.28;
}

#wrapper
{
    width: 1080px;
    height: 2100px;
    background-color: black;
    background-size: cover;
    margin: 0 auto;
}

#wrapper_top10
{
    width: 1080px;
    height: 3300px;
    background-color: black;
    background-size: cover;
    margin: 0 auto;
    border: 5px solid black;    
}
/* Header Section */

#wrapper_game
{
    width: 1080px;
    height: 2300px;
    background-color: black;
    background-size: cover;
    margin: 0 auto;
    border: 5px solid black;   
}
#banner
{
    width: 1080px;
    margin: 50px  0 0 320px;
    padding-top: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    right: 50%;
    left: 50%;
    border-radius: 10px;
    height: 50px;
}

/* Sidebar Section*/

#sidebar
{
    position: relative;
    float: right;
    width: 350px;
    height: 2100px;  
    text-align: left;
    text-decoration: white;
    font-size: 16px;
    border-left: thick solid #5F5E5E;
}

#sidebar a {
    color: white;
    text-decoration: none;
}

#sidebar a:hover
{
    color: red;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

/* Navigation Bars Section */

#logo { 
    float:left; top:0; left:0; 
}

#nav
{
    list-style: none;
}

#nav ul
{
    /*  margin: 0;
        padding: 0;
        width: auto;
        display: none;*/
    list-style-type: none;
    margin-top: 0;
    max-width: 80%;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}


#nav li:last-child
{
    float: right;
    text-align: center;
}

#nav li
{
    font-family: Calibri;
    font-size: 20px;
    float: left;
    position: relative;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav a:hover
{
    background-color: #8A0808;
}

.navigation
{
    position: fixed;
    top:0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 80px;
    margin: 0 auto;
    background-color: black;
    box-shadow: 3px 3px 3px #1E1B1B;
    margin: 0 auto;
}


.dropbtn {
    display: inline-block;
    background-color: transparent;
    padding: 14px 16px;
    border: none;
    color: white;
    text-align: center;
    float: bottom;
    position: relative;
    font-size: 20px;
}

.dropdown {
    display: inline-block;   
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    background-color: black;
    min-width: 122px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);   
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #A49D9D; opacity: 0.5}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
.columns
{
    position: relative;
    float: left;
    width: 677px;
    margin: 25px 0 0 25px;
}

.columns_top10{
    position: relative;
    width: 677px;
    margin: 25px 200px 0 200px;
}

.columns_top10 a {
    text-decoration: none;
    color: white;
}

.columns_top10 a:hover {
    text-decoration: none;
    color: red;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

/*Home-Articles Section*/
#article_column
{
    float: left;
    width: 675px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: left;
    position: relative;
}

#article_column a {
    color: white;
    text-decoration: none;
}

/*News Section*/
#news_area
{
    float: left;
    width: 675px;
    height: 400px;
    text-align: center;
    position: relative;
}

.news1-caption 
{
    position:absolute;
    bottom:0;
}

/*review wrapper content*/
#review_col1{

}

/*about wrapper content

    add details later
*/

/*login content*/
#login_wrapper
{
    width: 1080px;
    height: 720px;
    background-image: url(../Images/LoginWallpaper.jpg);
    background-color: black;
    background-size: cover;
    margin: 0 auto;
    border: 5px solid black;

}

.loginbox
{
    margin: 200px 300px;
}

#Sign-In
{ 
    border:3px solid #a1a1a1;
    padding:9px 35px; 
    background:black; 
    width:400px; 
    height: 180px;
    border-radius:20px; 
    box-shadow: 7px 7px 6px; 
    color: red;
    font-family: cursive;   
}

#Sign-In a
{
    font-family: sans-serif; 
    font-size: 12px; 
    color: white; 
    text-decoration: none;
}

#Sign-In a:hover
{
    text-decoration: none;
    color: red;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

#button
{ 
    float: right;
    border-radius:5px; 
    width:100px; 
    height:40px; 
    background:black; 
    font-weight:bold; 
    font-size:14px;
    color:white;

}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 45%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
    right: 0%;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0%;
    border-radius: 3px 0 0 3px;  

}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {  
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    top: 80%;
    left: 0%;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    align-self: center;
    cursor:pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

/* Website Cursor */ 
body, a:hover {
    cursor: url(http://cur.cursors-4u.net/cursors/cur-11/cur1054.cur), 
        progress !important;
}

/*Comment Box Section*/

/* Comment field layout*/
textarea
{
    background-color: black;
    color: white;
    font-family: Arial;
    font-size: 18px;
}

/* Username field layout*/
input
{
    background-color: black;
    color: white;
    font-family: Arial;
    font-size: 18px;
}

/* Submit button layout*/
input[type=submit] {
    border-radius: 6px;
    padding: 6px 20px;
}
