/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20/09/2016, 12:36:06 PM
    Author     : BonaGanda
*/

body 
{
    font-family: lucida grande, tahoma, verdana, arial, sans-serif;
    color: white;
    background-image: url(../Images/BlackRed.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body p
{
    font-size: 0.8em;
    line-height: 1.28;
}

#wrapper
{
    width: 1080px;
    height: 1920px;
    background-color: black;
    background-size: cover;
    margin: 0 auto;
    border: 5px solid black;
}

/* Header Section */

#banner
{
    width: 1080px;
    margin: 50px  0 0 320px;
    padding-top: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    right: 50%;
    left: 50%;
    border-radius: 10px;
    height: 125px;
}

/* Sidebar Section*/

#sidebar
{
    position: relative;
    float: right;
    width: 350px;
    height: 400px;  
    text-align: center;
    text-decoration: white;
}

#sidebar a:hover
{
    color:  red;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

/* Navigation Bars Section */
#nav
{
    list-style: none;
}

#nav ul
{
/*    margin: 0;
    padding: 0;
    width: auto;
    display: none;*/
    list-style-type: none;
    margin-top: 0;
    max-width: 80%;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#nav li:last-child
{
    float: right;
    text-align: center;
}


#nav li
{
    font-size: 30px;
    float: left;
    position: relative;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav a:hover
{
    background-color: #8A0808;
}

.navigation
{
    position: fixed;
    top:0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100px;
    background-color: black;
    margin: 0 auto;
}


.columns
{
    position: relative;
    float: left;
    width: 677px;
    height: 810px;
    margin: 10px 0 10px 0;
}

/*home wrapper content*/

#article_column
{
    float: left;
    width: 675px;
    height: 400px;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    position: relative;
}

#news_area
{
    float: left;
    width: 675px;
    height: 400px;
    background-image: url(../Images/News1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
}

.news1-caption 
{
    position:absolute;
    bottom:0;
}

/*review wrapper content*/
#review_col1{
    
}

/*about wrapper content*/

/*login content*/
#login_wrapper
{
    width: 1080px;
    height: 720px;
    background-image: url(../Images/LoginWallpaper.jpg);
    background-color: black;
    background-size: cover;
    margin: 0 auto;
    border: 5px solid black;
    
}

.loginbox
{
    margin: 200px 300px;
}

#Sign-In
{ 
    border:3px solid #a1a1a1;
    padding:9px 35px; 
    background:black; 
    width:400px; 
    border-radius:20px; 
    box-shadow: 7px 7px 6px; 
    color: red;
    font-family: cursive;
    
}

#button
{ 
    float: right;
    border-radius:5px; 
    width:100px; 
    height:40px; 
    background:black; 
    font-weight:bold; 
    font-size:14px;
    color:white;
        
}
